body{
  margin: 0;
  padding: 0;
}

#chatWindow{
  width:500px;
  height: 300px;
  background-color: white;
}

#about{
  width:500px;
  background-color: white;
}

#faq{
  width:500px;
  background-color: white;
}

#ajaxForm{
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  margin-top: 50px;
}

#chatInput{
  width: 500px;
}
